

/* Título */
.dark-mode .title {
    color: #ffffff;
    font-size: 1.8em; /* Aumentando um pouco para melhor destaque */
    font-weight: bold;
    margin: 1em;
}

.title {
    font-size: 1.8em; /* Aumentando um pouco para melhor destaque */
    font-weight: bold;
    margin: 1em;
}

/* Parágrafos */
.dark-mode #about p {
    color: #e0e0e0;
    line-height: 1.2; /* Melhora a legibilidade */
    text-indent: 10px;
    margin: 0em 3em 1.2em;
}

/* Parágrafos */
#about p {
    line-height: 1.2; /* Melhora a legibilidade */
    text-indent: 10px;
    margin: 0em 3em 1.2em;
}


/* Ajustando a section */
.dark-mode section {
    flex: 1;
}

/* Ajuste no botão do modo escuro */
.dark-mode #theme-toggle {
    border-color: #ffffff; /* Mantendo um contraste mais refinado */
    padding: 6px 12px; /* Ajuste sutil no tamanho */
    border-radius: 6px;
}

/* Efeito de hover no modo escuro */
.dark-mode #theme-toggle:hover {
    background-color: #ffffff;
    color: #181818;
    transform: scale(1.07);
}


#theme-toggle {
    position: absolute;
    top: 26px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 4px 8px; /* Reduzi o tamanho do botão */
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    border: 2px solid white; /* Adicionando a linha branca ao redor */
}

/* Ajustando o botão no modo escuro */
.dark-mode #theme-toggle {
    border-color: var(--text-color); /* Muda a borda no modo escuro */
}

#theme-toggle:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

