@import url('dark-mode.css');

/* 🔹 Variáveis CSS para padronização */
:root {
    --primary-bg-color: #424242;
    --primary-text-color: #fff;
    --body-bg-color: #f4f4f4;
    --font-size-default: 16px;
    --font-size-smaller: 12px;
    --header-padding: 1.5em;
    --footer-padding: 1em;
    --menu-height: 50px; /* Ajuste do menu */
}

/* 🔹 Ajustes globais */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1; /* Faz com que a section ocupe o espaço disponível */
}

/* 🔹 Cabeçalho */
header {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}



/* 🔥 Responsividade do menu para telas menores que 768px 🔥 */
@media screen and (max-width: 767px) {
        
nav ul {
    flex-direction: column;
    align-items: center;
    height: 30vh; /* Ajuste do menu */
    /* 🔹 Estilos do menu */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

     /* 🔹 Navegação */
     nav {
        background-color: var(--primary-bg-color);
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        color: var(--primary-text-color);
        text-decoration: none;
        padding: 10px;
    }

    nav ul li a:hover, nav ul li a.active {
        border-bottom: 2px solid var(--primary-text-color);
    }


}

@media screen and (min-width: 768px) and (max-width: 2568px) {
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100px; /* Ajuste do menu */
    
    }
    
    /* 🔹 Navegação */
    nav {
        background-color: var(--primary-bg-color);
    }


    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        color: var(--primary-text-color);
        text-decoration: none;
        padding: 10px;
        font-size: 1.5em;
    }

    nav ul li a:hover, nav ul li a.active {
        border-bottom: 2px solid var(--primary-text-color);
    }
}